In [4]:
# import the needed libraries and datasets
import numpy as np
import pandas as pd

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [13]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.232695  0.061339 -0.294034
1 -0.024650  0.338043 -0.313394
2  0.102500 -0.195525  0.093025
3 -0.114831  0.249823 -0.134992
4  0.307091 -0.018930 -0.288162

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [59]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
print(df.sum(axis=0))
print(min(df.sum(axis=0))) #i know i didnt get the columns label

          a         b         c         d         e         f         g  \
0  0.326973  0.438378  0.510490  0.181260  0.825169  0.692318  0.077719
1  0.380854  0.978353  0.188657  0.567718  0.956376  0.092624  0.214269
2  0.346825  0.326941  0.509288  0.361389  0.782392  0.174598  0.646124
3  0.414474  0.214089  0.650624  0.493655  0.843596  0.248537  0.542160
4  0.419531  0.677169  0.587737  0.784336  0.334379  0.180054  0.522528

          h         i         j
0  0.650103  0.043202  0.300379
1  0.759327  0.822723  0.382039
2  0.880114  0.028569  0.444349
3  0.980358  0.585950  0.302752
4  0.660552  0.765041  0.616460
a    1.888658
b    2.634931
c    2.446797
d    2.388357
e    3.741912
f    1.388131
g    2.002800
h    3.930454
i    2.245485
j    2.045978
dtype: float64
1.3881313435552625