# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [16]:
import pandas as pd
import numpy as np

In [15]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

**13.** Change the age in row 'f' to 1.5.

In [17]:
# YOUR CODE HERE
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data , index = labels)
print(df)
df['age'] = df['age'].replace([2],1.5) #i know that this is not a universally good way to do this
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [18]:
assert df['age']['f'] == 1.5

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [19]:
# YOUR CODE HERE
df.sort_values(by = "age", ascending = False)

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [20]:
b = True

for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i]:
        b = False
        break
    
assert b

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [21]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 3)))
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.469553  0.205611  0.263942
1  0.133392  0.119300 -0.252692
2  0.416939 -0.207572 -0.209366
3 -0.380120  0.496453 -0.116333
4 -0.019410  0.224136 -0.204727

In [22]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [23]:
# YOUR CODE HERE
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
print(df.sum(axis=0))
print(min(df.sum(axis=0))) #i know i didnt get the columns label

          a         b         c         d         e         f         g  \
0  0.986231  0.389680  0.906605  0.368115  0.044045  0.028419  0.910313
1  0.494340  0.091540  0.937916  0.482751  0.213266  0.501185  0.673568
2  0.430027  0.860595  0.920380  0.900051  0.807721  0.564113  0.352960
3  0.682599  0.212217  0.874359  0.043374  0.449619  0.788090  0.066852
4  0.164604  0.713809  0.786782  0.925600  0.690778  0.805819  0.919533

          h         i         j
0  0.194147  0.612504  0.433368
1  0.274019  0.422637  0.175845
2  0.079751  0.738644  0.608706
3  0.680325  0.282778  0.434497
4  0.969236  0.723683  0.436769
a    2.757801
b    2.267842
c    4.426042
d    2.719891
e    2.205429
f    2.687625
g    2.923226
h    2.197478
i    2.780245
j    2.089185
dtype: float64
2.0891848587146153

In [24]:
assert idx in 'abcdefghij'

NameError: name 'idx' is not defined

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [13]:
# YOUR CODE HERE

NotImplementedError:

In [14]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345

NameError: name 'res' is not defined